
  {% block title_content %}
    <p class="titulo underlined">{{'the_title'|trans}}</p>
  {% endblock %}

  {%  block content %}
  <div class="conteiner_center">

    <div class="formularios">
      <form action="{{  path("my_web_login_check") }}" method="post" >
       {% if error %}
        <div class="error">
         <h4>{{ error.message|trans({}, 'messages') }}</h4>
       </div>
     {% endif %}
     <div class="forms first_space">
      <div class='login_form'>
        <input type="text" name="_username" placeholder="email*" value="{{ last_username }}" id="user">      
        <input type="password" name="_password" placeholder="password*" id="password">
        <a id='showPopup' href="#">Olvidé mi contraseña</a>
        <button type="submit">Entrar</button>
      </div>
    </div>
  </form>        		 
</div>
</div>
{% endblock %}